html, body  {
  height: 100vh;
  font-family: "Oxygen";
  font-Size:14px
  }
a {
  color:#999999
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.btn {
  text-transform: none;
}
.btn-success.dropdown-toggle {
  background-color: #ffffff!important;
  border-color: #ffffff;
  box-shadow: 0 0 0 0.2rem #ffffff
}
.btn-success.dropdown-toggle:hover, .btn-success.dropdown-toggle:focus {
  background-color: #ffffff !important;
  box-shadow: 0 0 0 0.2rem #ffffff
}
.btn-success.dropdown-toggle:focus{
  background-color: #ffffff !important;
}
.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
  background-color: #ffffff !important;
  box-shadow: 0 0 0 0.2rem #ffffff;
  border-color: #ffffff;
}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
  color: #fff;
  background-color: #ffff;
  border-color: #ffff;
}
.btn-success:not([disabled]):not(.disabled):active, .btn-success:not([disabled]):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  box-shadow: 0 0 0 0 #ffff;
  background-color: #ffff !important;
}
.navbar-header{
  border-bottom: 4px solid green;
}
.bg-light {
  padding-left:20px;
  padding-right:20px;
  background-color: #ffffff!important;
}
.page-header{
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
.glyphicon-envelope {
  position: absolute;
  top: -2px;
  right: 10px;
  z-index: 2;
  display: block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  pointer-events: none;
}
.glyphicon-lock{
  position: absolute;
  top: 45px;
  right: 10px;
  z-index: 2;
  display: block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  pointer-events: none;
}

.glyphicon-old-lock{
  position: absolute;
  top: -2px;
  right: 10px;
  z-index: 2;
  display: block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  pointer-events: none;
}

.glyphicon-confirm-lock{
  position: absolute;
  top: 92px;
  right: 10px;
  z-index: 2;
  display: block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  pointer-events: none;
}

.css-1szy77t-control:hover {
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #495057;
  background-color: #fff;
  border-color: #80bdff !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
}
.css-1szy77t-control{
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
  border-color: #80bdff !important;
}
:focus {
  outline: -webkit-focus-ring-color 3px;
}
input:focus {
  outline-offset: 0px;
}
.footer{
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  /* position: fixed; */
}
.pull-right {
  float: right !important;
}
.page-loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0.9);
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}
.dropdown-toggle .nav-link{
  padding-left: 0px
}
.content__header--with-line {
  border-bottom: 2px solid green;
  padding-top: 50px;
}
@media (min-width: 768px){
  .navbar-expand-md .navbar-nav .nav-link {
    /* padding-right: 1.5rem; */
    padding-left: 1.5rem;
  }
}
.mr-auto{
  width: 100%;
}
@media (min-width: 768px){
  .magage-nav {
    margin-right: auto;
  }
}
@media (min-width: 768px){
  .login-nav-link {
    margin-left: auto;
  }
}
@media (min-width: 768px){
  .dropdown-menu{
    margin-left:21px
  }
}
/* @media (min-width: 768px){
  .table-responsive {
    overflow-x: hidden;
  }
} */

.icon-padding{
  padding-right: 5px;
}
.dropdown-item{
  padding-left:7px !important
}
.btn {
  height: 40px;
  text-transform: uppercase;
}
.orders__filters{
  padding-top: 50px;
}
.active-icon{
  color: #2EC826;
  margin-Top:3px;
  padding-right:7px;
  margin-left:-9px
}
:focus {
  outline: -webkit-focus-ring-color 3px;
}
input:focus {
  outline-offset: 0px;
}
.dataTables_wrapper .dataTables_filter input {
  border-radius: 5px;
  margin-left: 0.5em;
}
.table td, .table th {
  padding: .75rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}
.orders{
  padding-bottom: 50px;
  border-bottom: 1px solid #eeeeee;
}
th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
 
th:first-child {
  border-left: 1px solid #dddddd;
}
 
td:first-child {
  border-left: 1px solid #dddddd;
}
td:last-child {
  border-right: 1px solid #dddddd;
}
.table-responsive{
  padding-top: 30px;
  padding-left:4px;
  padding-right:4px;
}
.action-icon{
  cursor: pointer;
  font-size: 18px;
}
@media (max-width: 768px){
  .select-user-class {
   width: 200px;
  }
}
.table--striped tbody tr:nth-child(2n) {
	background-color: rgba(102, 190, 226, 0.05)
}
.inactive-icon{
  color: #A3A5AC;
  margin-Top:3px;
  padding-right:7px
}
.input-div{
  height:auto !important
}
.input-text{
  height: 100%;
}
.role-rate{
  margin-top:20px
}
.product-form{
  padding-top: 25px;
  width:80%
}
.zeno-article{
  padding-top:0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 20px;
  max-height: 200px
}
.myDatePicker {
  width:100%;
  height:calc(1.5em + .75rem + 8px);;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #ced4da;
  padding: 10px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
.myDatePicker:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.react-datepicker-wrapper{
  width:100%
}
input[type=checkbox], input[type=radio] {
  width: 17px;
  height: 17px;
}
.form-check-label {
  padding-top: 1px;
  padding-left: 6px;
}
.sort-style {
  background : none !important;
  border-top: 1px solid #fff !important;
}
table.dataTable thead th {
  padding: 10px 18px;
  border-bottom: 1px solid #ddd;
}
table.dataTable.no-footer {
  border-bottom: 1px solid #ddd;
}
.table td {
  padding: .75rem;
  vertical-align: middle;
  border-top: 1px solid #fff !important;
}
.table--striped tbody tr:nth-child(2n) {
  background-color: rgba(49, 83, 97, 0.05);
}
.search-table-input{
  width: 100%;
}
.document-name{
  margin-bottom: 35px;
}
.hour-date{
  padding-bottom: 20px
}
.hour-end-date{
  width: 50%;
  margin-bottom: 20px;
}
.borderedDiv {
  outline: 1px solid #EEEEEE;
}
.spanBlue {
  background-color: blue;
}
.spanRed {
  background-color: red;
}
.spanOrange {
  background-color: orange;
}
.spanGreen {
  background-color: green;
  color: white;
}
.spanColor {
  width: 10px;
  height: 10px;
  display: inline-block;
}
.select-medewerker{
  padding-left: 10px;
  width: 100%;
}
.enter-hour-th{
  padding: 5px;
  height: 40px;
}
